{% extends "base.html" %}

{% block page_content %}
<div class="container mt-5">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
        <h1 class="mb-4">Identificação do Usuário</h1>
        <p><strong>Nome:</strong> {{ name }}</p>
        <p><strong>Instituição:</strong> {{ institution }}</p>
        <p><strong>Curso:</strong> {{ course }}</p>

        <div class="mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-link">Voltar para a Página Inicial</a>
        </div>
    </div>
</div>
{% endblock %}
