{% extends "base.html" %}

{% block title %}Lista Usuários{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1>Olá, {% if nome %}{{ nome }}{% else %}Stranger{% endif %}!</h1>

    <form method="POST">
        <input type="text" name="nome" placeholder="Digite seu nome">
        <button type="submit">Cadastrar</button>
    </form>

    {% if nome %}
        <p style="color:green;">Usuário {{ nome }} adicionado com sucesso!</p>
    {% endif %}

    <h2>Relação de usuários cadastrados</h2>
    <table border="1">
        <tr>
            <th>Nome do usuário</th>
            <th>Função</th>
        </tr>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.nome }}</td>
            <td>{{ u.funcao }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
  <a href="{{ url_for('index') }}" class="btn btn-link">Voltar para a Página Inicial</a>

{% endblock %}