<p>Dear {{ user.username }},</p>
{% if external_base %}
<p>To confirm your new email address <a href="{{ external_base.rstrip('/') }}/auth/change_email/{{ token }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ external_base.rstrip('/') }}/auth/change_email/{{ token }}</p>
{% else %}
<p>To confirm your new email address <a href="{{ url_for('auth.change_email', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.change_email', token=token, _external=True) }}</p>
{% endif %}
<p>Sincerely,</p>
<p>The Flasky Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
